{# <!-- -*- engine:jinja -*- --> #}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--suppress JSUnresolvedLibraryURL -->
<script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>


<!-- Script to change the active navbar link -->
<!-- <script>
     /* For this to work, each link in the navbar should have an ID
     corresponding to the argument of the "url_for" so that the jinja
     command 'request.endpoint' coincides with the link ID.
     
     See this post
     http://stackoverflow.com/questions/24514717/bootstrap-navbar-active-state-not-working
     */
     $(document).ready(function () {
     $("#{{request.endpoint}}").parent().addClass("active"); });
     </script> -->
