{# <!-- -*- engine:jinja -*- --> #}
<!-- Add the script below to use skewer mode in Emacs -->
<!-- <script src="http://localhost:8080/skewer"></script> -->

<!--suppress JSUnresolvedLibraryURL -->
<link rel="stylesheet"
      href="{{ url_for('bower.static', filename='normalize-css/normalize.css') }}" />

<!-- My custom css definitions -->
<link rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
      type="text/css" media="screen" />

<!-- Bootstrap -->
<link rel="stylesheet"
      href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css') }}" />

<!-- Optional theme -->
<link rel="stylesheet"
      href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap-theme.min.css') }}" />
