{% extends "base.html" %}
{# <!-- -*- engine:jinja -*- --> #}

{% from "macros.html" import my_render_form_field %}

{% block title %}Uploader dos Trabalhos{% endblock %}

{% block base_content %}
    {% block main_content %}
        <h1>Submissão de trabalhos e listas das aulas práticas</h1>
        
        <p>Nessa página vocês podem submeter os trabalhos, listas e aulas práticas.</p>
        <p>Caso um trabalho já esteja fechado não será possível fazer novas submissões.</p>
        <br>
        <p>
            Cada trabalho define uma ou mais funções que vocês devem
            implementar. O cabeçalho das funções que vocês implementarem
            deve estar no arquivo <code>funcoes.hpp</code>, enquanto que a
            implementação dessas funções deve estar no arquivo <code>funcoes.cpp</code>.
            A função <code>main</code> deve ficar no arquivo <code>main.cpp</code>,
            que deve incluir seu arquivo <code>funcoes.hpp</code>. O arquivo
            <code>main.cpp</code> pode conter o que vocês quiserem e não será
            avaliado. Nele vocês devem chamar as funções que criaram para
            poder testá-las.
            <br>
            Para facilitar, vocês podem baixar os arquivos para
            <a href="{{ url_for('static', filename='code/funcoes.hpp') }}" download><code>funcoes.hpp</code></a>,
            <a href="{{ url_for('static', filename='code/funcoes.cpp') }}" download><code>funcoes.cpp</code></a> e
            <a href="{{ url_for('static', filename='code/main.cpp') }}" download><code>main.cpp</code></a>.
            <br>
            <b>Nota</b>: Vocês devem submeter um arquivo <code>.zip</code> contendo
            todos os arquivos mencionados.
        </p>

        
        {% block main_subcontent %}
        {% endblock %}
        
    {% endblock %}
{% endblock %}
