{% extends "main.html" %}
{# <!-- -*- engine:jinja -*- --> #}

{% from "macros.html" import my_render_form_field %}

{% block main_subcontent %}
    <div>
        <h2>Lista, práticas e trabalhos</h2>

        <table id="listadetrabalhos" class="table table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Data Final</th>
                    <th>Arquivo</th>
                    <th>Submeter</th>
                    <!-- <th>User ID</th> -->
                </tr>
            </thead>
            <tbody>
                {% for t,e in trabalhos  %}
                    <tr>
                        <td>{{ t.type }}</td>
                        <td>{{ t.name }}</td>
                        <td>{{ t.startdate.date() }}</td>
                        <td>{{ t.deadline.date() }}</td>
                        {% if e %}
                            <td><a href="{{ url_for('UploadDeTrabalhosView:download_uploaded_file_0', filename=e.path, trabalho_id=t.id) }}">{{ e.path }}</a></td>
                            {% if t.em_aberto %}
                                <td><a href="{{ url_for('UploadDeTrabalhosView:upload_trabalho', trabalho_id=t.id) }}">Submeter trabalho {{ t.id }}</a></td>
                                <!-- <td>{{ e.user_id }}</td> -->
                            {% else %}
                                <td>Fechado</td>
                                <!-- <td>{{ e.user_id }}</td> -->
                            {% endif %}
                        {% else %}
                            <td class="danger">Falta Entregar</td>
                            <td><a href="{{ url_for('UploadDeTrabalhosView:upload_trabalho', trabalho_id=t.id) }}">Submeter trabalho {{ t.id }}</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
