{% extends "main.html" %}
{# <!-- -*- engine:jinja -*- --> #}

{% from "macros.html" import my_render_form_field %}

{% block main_subcontent %}
    <style>
     th {
         text-align: center;
     }
    </style>
    
    <div>
        <h2>Lista, práticas e trabalhos cadastrados</h2>
        
        <table id="listadetrabalhos" class="table table-condensed table-hover table-bordered compact">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Data Final</th>
                    <th>Aceitando Submissões</th>
                </tr>
            </thead>
            <tbody>
                {% for t in todos_os_trabalhos %}
                    <tr>
                        <td>{{ t.type }}</td>
                        <td>{{ t.name }}</td>
                        <td>{{ t.startdate.date() }}</td>
                        <td>{{ t.deadline.date() }}</td>
                        <td>{{ "Sim" if t.em_aberto else "Não" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div>
        <h2>Lista, práticas e trabalhos entregues pelos alunos</h2>
        
        <table id="listadetrabalhos_dos_alunos" class="table table-condensed table-hover table-bordered compact">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Data Final</th>
                    <th>Arquivo</th>
                    <th>Aluno</th>
                </tr>
            </thead>
            <tbody>
                {% for te, t in trabalhos_entregues_dos_alunos %}
                    <tr>
                        <td>{{ t.type }}</td>
                        <td>{{ t.name }}</td>
                        <td>{{ t.startdate.date() }}</td>
                        <td>{{ t.deadline.date() }}</td>
                        <td><a href="{{ url_for('UploadDeTrabalhosView:download_uploaded_file_1', filename=te.path, trabalho_id=t.id, user_id=te.user_id) }}">{{ te.path }}</a></td>
                        <td>{{ te.user.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}



{% block extra_includes_in_head %}
    <link rel="stylesheet"
          href="{{ url_for('bower.static', filename='datatables/media/css/jquery.dataTables.css') }}" />
{% endblock %}



{% block extra_includes_in_body_end %}
    <script src="{{ url_for('bower.static', filename='datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='datatables/media/js/dataTables.bootstrap4.min.js') }}"></script>

    <script>
     /* Pegue de https://github.com/DataTables/Plugins/blob/master/i18n/Portuguese-Brasil.lang */
     var datatables_config = {
         language: {
             "sEmptyTable": "Nenhum registro encontrado",
             "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
             "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
             "sInfoFiltered": "(Filtrados de _MAX_ registros)",
             "sInfoPostFix": "",
             "sInfoThousands": ".",
             "sLengthMenu": "_MENU_ resultados por página",
             "sLoadingRecords": "Carregando...",
             "sProcessing": "Processando...",
             "sZeroRecords": "Nenhum registro encontrado",
             "sSearch": "Pesquisar",
             "oPaginate": {
                 "sNext": "Próximo",
                 "sPrevious": "Anterior",
                 "sFirst": "Primeiro",
                 "sLast": "Último"
             },
             "oAria": {
                 "sSortAscending": ": Ordenar colunas de forma ascendente",
                 "sSortDescending": ": Ordenar colunas de forma descendente"
             }
         }
     }
     $(document).ready(function() {
         $('#listadetrabalhos').DataTable(datatables_config);
         $('#listadetrabalhos_dos_alunos').DataTable(datatables_config);
     } );
    </script>
{% endblock %}
